<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.puter.final_project.dao.BuyListMapper">

    <!-- 부분 조회 -->
    <select id="selectOne" resultType="user">
        select * from user where userIdx=#{userIdx}
    </select>

    <!-- 구매내역 -->
    <insert id="insert" parameterType="buy">
        insert into buyList values(
            null,
            #{userIdx},
            #{pIdx},
            #{bamount},
            now()
        )
    </insert>

</mapper>