<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.puter.final_project.dao.BuyListMapper">

    <!-- 부분 조회 -->
    <select id="selectOne" resultType="user">
        select * from user where userIdx=#{userIdx}
    </select>

    <!-- 구매내역 -->
    <insert id="insert" parameterType="buy">
        insert into buyList values(
            null,
            #{userIdx},
            #{pIdx},
            #{bamount},
            now()
        )
    </insert>

    <select id="selectBuyListOne" parameterType="buy" resultType="int">
        select bIdx from BuyList 
        where userIdx=#{userIdx} and pIdx=#{pIdx}
        order by buyDate DESC
        LIMIT 1
    </select>

    <insert id="orderInsert" parameterType="int">
        insert into Orders (dsIdx, bIdx, daStartDate, daEndDate) values (
            (select dsIdx from DStatus where dsType = 'pending'),
            #{bIdx}, 
            now(), 
            DATE_ADD(NOW(), 
            INTERVAL 2 DAY)
        )
    </insert>

</mapper>