<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.puter.final_project.dao.OrdersMapper">

  <!-- 전체조회 -->
  <select id="selectList" parameterType="int" resultType="orders">
       select * from ShippingView where userIdx=#{userIdx} order by oIdx
  </select>

  <delete id="deleteBuyList" parameterType="int">
     delete from buyList where bIdx=#{bIdx}
  </delete>

  <select id="selectBuyList" resultType="orders">
       select * from BuyListView order by buyDate desc
  </select>

  <select id="searchOrdersByUserName" parameterType="String" resultType="orders">
     select * from BuyListView
     where 
            u.name LIKE CONCAT('%', #{searchParam}, '%')
     order by buyDate
  </select>

</mapper>