<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.puter.final_project.dao.ReviewMapper">

  <!-- 전체조회 -->
  <select id="selectList" resultType="review">
    select * from ReviewView order by rvIdx
  </select>

  <select id="getReviewInfo" parameterType="int" resultType="review">
    SELECT * FROM ReviewView WHERE rvIdx = #{rvIdx} order by rvDate
  </select>

  <select id="getReviewByLike" parameterType="like" resultType="review">
    SELECT * FROM follow WHERE rvIdx=#{rvIdx} AND userIdx=#{userIdx}
  </select>

  <!-- 리뷰 작성 -->
  <insert id="insertReview" parameterType="review">
  INSERT INTO review
    VALUES (
      null, 
      #{pIdx}, 
      #{userIdx}, 
      #{rvContent}, 
      5, 
      null,
      default
    )
  </insert>

  <!-- 리뷰 수정 -->
  <update id="updateReview" parameterType="review">
    UPDATE review
    SET 
      rvContent = #{rvContent}, 
      reviewPoint = 5, 
      rvImg = #{rvImg}
    WHERE 
      rvIdx = #{rvIdx}
  </update>

  <!-- 리뷰 삭제 -->
  <delete id="deleteReview" parameterType="int">
    DELETE FROM review
    WHERE rvIdx = #{rvIdx}
  </delete>

  <!-- 특정 상품에 리뷰 조회 -->
  <select id="selectReviewsByProduct" parameterType="int" resultType="review">
    SELECT * FROM ReviewView WHERE pIdx = #{pIdx}
  </select>

  <!-- 좋아요 추가 -->
  <insert id="insertLike" parameterType="like">
    INSERT INTO follow (rfIdx, rvIdx, userIdx)
    VALUES (#{rfIdx}, #{rvIdx}, #{userIdx})
  </insert>

  <!-- 좋아요 취소 -->
  <delete id="deleteLike" parameterType="like">
    DELETE FROM follow where rfIdx = #{rfIdx}
  </delete>

  <!-- 각 리뷰에 대한 좋아요 수 -->
  <select id="countLikes" parameterType="int" resultType="int">
    SELECT COUNT(*) FROM follow WHERE rvIdx = #{rvIdx}
  </select>

  <!-- 사용자가 해당 리뷰에 좋아요를 눌렀는지 확인 -->
  <select id="LikedByUser" parameterType="like" resultType="int">
    SELECT COUNT(*) FROM follow WHERE rvIdx = #{rvIdx} AND userIdx = #{userIdx}
  </select>

  <!-- 리뷰 삭제 시 해당 리뷰의 좋아요 삭제 -->
  <delete id="deleteByReview" parameterType="int">
    DELETE FROM follow WHERE rvIdx = #{rvIdx}
  </delete>


</mapper>
