<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.puter.final_project.dao.ShopMapper">
    <!-- 경로와 이름을 통일시킨다 -->

    <!-- 게임카테고리 전체조회 -->
    <select id="selectListGame" resultType="shop" parameterType="int">
        select * from shop_list_view where categoryNo = #{categoryNo} order by pIdx desc
    </select>

    <!-- 스포츠카테고리 전체조회 -->
    <select id="selectListSports" resultType="shop" parameterType="int">
        select * from shop_list_view where categoryNo = #{categoryNo} order by pIdx desc
    </select>

    <!-- 관리자페이지 상품 전체조회 -->
    <select id="selectAdminList" resultType="shop">
        select * from shop_list_view order by pIdx desc
    </select>


    <!-- 메인카테고리 번호만 조회 -->
    <!-- <select id="selectCategoryNo" resultType="int">
        select categoryNo from shop_list_view
    </select> -->
    <!-- dcategoryName 조회 -->
    <select id="selectDCategoryNameList" resultType="shop" parameterType="shop">
        select dcategoryName from shop_list_view where categoryNo = #{categoryNo} and mcategoryName = #{mcategoryName} Group by dcategoryName
    </select>
    <!--mcategoryName 조회 -->
    <select id="selectMCategoryNameList" resultType="shop" parameterType="int">
        select mcategoryName from shop_list_view where categoryNo = #{categoryNo} Group by mcategoryName
    </select>
    <!-- mcategoryName을 이용해 mcategoryNo 조회 -->
    <select id="selectMCategoryNo" resultType="int" parameterType="shop">
        select mcategoryNo from shop_list_view where categoryNo = #{categoryNo} and mcategoryName=#{mcategoryName} Group by mcategoryNo
    </select>
    <!-- mcategoryNo을 이용해 dcategoryName 검색 -->
    <select id="selectdCategoryNameList" resultType="shop" parameterType="int">
        select dcategoryName from shop_list_view where mcategoryNo = #{mCategoryNo} Group by dcategoryName
    </select>
    <!-- dcategoryNo 검색 -->
    <select id="selectDCategoryNo" resultType="int" parameterType="shop">
        select dcategoryNo from shop_list_view where mcategoryName = #{mcategoryName} and dcategoryName = #{dcategoryName} Group by dcategoryNo
    </select>

    <!-- dcategoryNo을 이용해 product 검색 -->
    <select id="selectProductDCategoryList" resultType="shop" parameterType="int">
        select * from shop_list_view where dcategoryNo = #{dCategoryNo} order by pIdx desc
    </select>
    <!-- 중카테고리를 이용해 상품검색 -->
    <select id="selectProductMCategoryList" resultType="shop" parameterType="int">
        select * from shop_list_view where mcategoryNo = #{mCategoryNo} order by pIdx desc
    </select>
    <!-- 상품 상세 페이지에 띄울 정보 -->
    <select id="selectProductInfoList" resultType="shop" parameterType="shop">
        select * from shop_list_view where categoryNo = #{categoryNo} and pIdx=#{pIdx}
    </select>

    <!-- 수정 시 상품 설명가져오기 -->
    <select id="selectPEx" resultType="String" parameterType="int">
        select PEx from shop_list_view where pIdx=#{pIdx}
    </select>

    <!-- categoryName을 이용해서 categoryNo 얻기 -->
    <select id="selectAdminCategoryNo" resultType="int" parameterType="shop">
        select categoryNo from shop_list_view where categoryName=#{categoryName} and pIdx=#{pIdx} Group by categoryNo
    </select>

    <!-- mcategoryName을 이용해서 categoryNo 얻기 -->
    <select id="selectAdminMcategoryNo" resultType="int" parameterType="shop">
        select mcategoryNo from shop_list_view where mcategoryName=#{mcategoryName} and pIdx=#{pIdx} Group by mcategoryNo
    </select>

    <!-- dcategoryName을 이용해서 categoryNo 얻기 -->
    <select id="selectAdminDcategoryNo" resultType="int" parameterType="shop">
        select dcategoryNo from shop_list_view where dcategoryName=#{dcategoryName} and pIdx=#{pIdx} Group by dcategoryNo
    </select>

    <update id="productUpdate" parameterType="shop">
        update product set categoryNo=#{categoryNo}, dcategoryNo=#{dcategoryNo}, mcategoryNo=#{mcategoryNo}, pName=#{pName}, pEx=#{pEx}, amount=#{amount}, price=#{price} where pIdx=#{pIdx}
    </update>

    <select id="selectCategoryNameList" resultType="shop">
        select categoryName from shop_list_view Group by categoryName
    </select>

    <select id="selectMcategoryNameList" resultType="shop" parameterType="String">
        select mcategoryName from shop_list_view where categoryName=#{categoryName} Group by mcategoryName 
    </select>

    <select id="selectDcategoryNameList" resultType="shop" parameterType="String">
        select dcategoryName from shop_list_view where mcategoryName=#{mcategoryName} Group by dcategoryName 
    </select>

    <select id="selectSearchList" resultType="shop" parameterType="String">
        select pName from shop_list_view where Like '#{search}' Group by pName 
    </select>

    





</mapper>












