<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.puter.final_project.dao.UserMapper">

    <!-- 전체조회 -->
    <select id="selectList" resultType="user">
       select * from user order by userIdx
    </select>

    <!-- 상세 조회 id -->
    <select id="selectOneFromId" parameterType="String" resultType="user">
		select * from user where id=#{ id }
    </select>

</mapper>
